.ticket-item {
    user-select: none;
    padding: 16px;
    margin: 0 0 8px 0;
    min-height: 50px;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, .12);
    border-radius: 10px;
    opacity: 1;
    background-color: white;
    rotate: none;
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
}



.isDragging {
    opacity: .9 !important;
    rotate: 1deg;
}